#about {
	background-image: url("../img/MGWHAT!!!.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.about-div {
		display: grid;
		grid-template-columns: 300px auto;
		grid-gap: 50px;
		width: 85vw;
	}
	img {
		align-self: center;
		border: 2px solid #fff;
		border-radius: 50%;
		height: 300px;
	}
	p {
		align-self: center;
		color: $light-txt-color;
		font-size: 2.5rem;
	}
}

.MG {
	font-family: "Special Elite", cursive;
	color: $accent-txt-color;
}
