$dark-bg-color: #3f3f3f;
$light-bg-color: #f3f3f3f3;
$dark-txt-color: #333;
$light-txt-color: #fff;
$accent-txt-color: #fadcaa;
$sans-serif-font: "Open Sans", sans-serif;
$serif-font: "Teko", sans-serif;
$script-font: "Special Elite", cursive;

html,
body {
	font-family: $sans-serif-font;
}
