#myasthenia {
	background-image: url("../img/cureMGbackground.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;

	img {
		border: 2px solid $dark-txt-color;
		border-radius: 50px;
		height: 300px;
	}

	.mycontainer {
		position: relative;
		width: 90vw;
		height: 80vh;
		top: 10vh;
		margin: auto;
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: auto auto;
		grid-template-areas: "header header" "is does";
		grid-gap: 60px;
		.hospital-title {
			grid-area: header;
			align-self: center;
			justify-self: center;
			text-align: center;
			padding: 20px;
			background-color: rgba($color: #333, $alpha: 0.6);
			border-radius: 20px;
		}
		.is {
			grid-area: is;
			background-color: rgba($color: #333, $alpha: 0.6);
			border-radius: 20px;
			padding: 20px;
		}
		.does {
			grid-area: does;
			background-color: rgba($color: #333, $alpha: 0.6);
			border-radius: 20px;
			padding: 20px;
		}

		h1 {
			color: $light-txt-color;
			font-family: $script-font;
			font-size: 5rem;
		}

		h2 {
			color: $accent-txt-color;
			font-family: $script-font;
			text-align: center;
			font-size: 2rem;
			padding: 10px;
		}
		p {
			color: $light-txt-color;
			font-size: 1.5rem;
			padding: 10px;
		}
	}
}
